html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar-thumb {
  display: none;
}

input[type="checkbox"]:disabled
{
  opacity: .3;
}

div#content {
  background-color: #dddddd;
  margin: 0px;
  padding: 0px;
  width: 180px;
  height: 180px;
}

div#inner-content {
  background-color: #dddddd;
  margin: 10px;
  width: 100%;
  height: 100%;
}

.titlebar-top {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 32px;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.titlebar-bottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 32px;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.titlebar-left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 100%;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.titlebar-right {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 100%;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.titlebar-top-icon,
.titlebar-bottom-icon {
  position: absolute;
  left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.titlebar-left-icon {
  position: absolute;
  bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.titlebar-right-icon {
  position: absolute;
  top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.titlebar-top-text,
.titlebar-bottom-text {
  position: absolute;
  left: 32px;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
  font-style: Arial;
  font-size: 11pt;
  color: #ffffff;
}

.titlebar-left-text {
  position: absolute;
  bottom: 32px;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: Arial;
  font-size: 12pt;
  color: #ffffff;
  -webkit-transform: rotate(-90deg) translate(0, 100%);
  -webkit-transform-origin: 0% 100%;
}

.titlebar-right-text {
  position: absolute;
  top: 0px;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: Arial;
  font-size: 12pt;
  color: #ffffff;
  -webkit-transform: rotate(90deg) translate(0, 100%);
  -webkit-transform-origin: 0% 200%;
}

.titlebar-top-close-button,
.titlebar-bottom-close-button {
  position: absolute;
  right: 11px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.titlebar-left-close-button {
  position: absolute;
  top: 11px;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-app-region: no-drag;
}

.titlebar-right-close-button {
  position: absolute;
  bottom: 11px;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-app-region: no-drag;
}

.titlebar-top-divider {
  position: absolute;
  left: 0px;
  top: 31px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}

.titlebar-bottom-divider {
  position: absolute;
  left: 0px;
  bottom: 31px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}

.titlebar-left-divider {
  position: absolute;
  left: 31px;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: #2a2c2c;
}

.titlebar-right-divider {
  position: absolute;
  right: 31px;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: #2a2c2c;
}